header{
    background-color: rgb(255,128,0);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

.restaurant-info{
    padding-left: 2%;
    margin-top: 0;
    padding-top: 0;
}

.categories{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2vw;
    background-color: rgba(253, 185, 117, 0.982);
    padding-left: 2%;
}

.categories p {
    margin: 0px;
}

.menu{
    flex: 1;
    padding: 2vh 0;
    width: calc(100% - 5vw);
    margin: 2%;
}

.style-dishContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dish{
     border: 3px solid rgba(253, 185, 117, 0.982);
     border-radius: 10px;
     margin: 10px;
     padding: 10px;
}

.dish p { 
    margin: 8px;
}

.dish-price{
    color: rgb(255,128,0);
    font-weight: 700;
}

footer{
    background-color: rgb(255,128,0);
    margin-top: auto;
}

footer a{
    color: white;
}

.footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vh 3vw;
    gap: 1.5vw;
}


@media screen and (max-width: 920px){
    .mobile-cart {
        display: block;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 10px;
        background-color: rgb(255,128,0);
        z-index: 1200;
    }

    .mobile-cart button {
        width: 100%;
        background-color: rgb(255,128,0);
        border: none;
        color: white;
        font-size: 16px;
        padding: 15px;
        border-radius: 10px 10px 0 0;
        cursor: pointer;
    }

    .mobile-cart .flex-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}