#cartOpenMobile {
    display: none;
}

main{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.content-wrapper{
    width: calc(100% - 300px);
    display: flex;
    flex: 1;
    flex-direction: column;
}

.cart-wrapper{     
    top: 10vh;            
    right: 0;
    width: 300px;
    height: 100%; 
}

.cart{
    position: sticky;
    top: 0;
    background-color: rgb(253,186,120);
    box-shadow: -2px 0 5px rgba(0,0,0,0.5);
    border: 3px solid rgb(255,128,0);
    padding: 2vw;
    height: calc(95vh - 10vh);
    display: flex;
    flex-direction: column;
}

.content-cart{
    flex: 1;
    margin: 10px 0;
}

.cart-dish-area{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 10px;
}

.cartDishContainer{
    padding: 10px;
}

.cart-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid rgba(0,0,0,0.2);
    padding-top: 10px;
}

@media screen and (max-width: 920px){
    .cart-wrapper{
        display: none;
    }
}