
.overlay h2 {
  text-align: center;
}

h1 {
  margin: 0;
  font-size: 42px;
  padding-right: 1em;
}

.menu h3{
  margin: 0;
}

.menu h2{
  padding-left: 2%;
}

.restaurant-info p {
  font-size: 14px;
  color: rgb(255,128,0);
}

.restaurant-info span{
  font-style: italic;
  font-weight: 500;
}

body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    background-color: rgb(240,240,240);
}

/* open-sans-regular - latin */
@font-face {
  font-display: swap; 
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/open-sans-v43-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* open-sans-500 - latin */
@font-face {
  font-display: swap; 
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/open-sans-v43-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* open-sans-700 - latin */
@font-face {
  font-display: swap; 
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/open-sans-v43-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}